.App {
  background-image: url("./assets/background.jpg");
  min-height: 97vh;
  min-width: 97vw;
  height: 100%;
  width: 100%;
}
.logo {
  margin-left: 15%;
  margin-top: 5%;
  width: 25vw;
}
.header {
  display: flex;
  flex-direction: row;
}
.navdrawer {
  display: none;
}

@media (max-width: 1140px) {
  .navdrawer {
    display: block;
    font-size: x-large;
    margin: 15px;
    margin-left: auto;
  }
  .desktopnav {
    display: none;
  }
  .logo {
    width: 60vw;
  }
}
